@import '../../styles/utils.scss';

.daily-wrapper {
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;

	.day-info {
		display: flex;
		flex-direction: column;
		align-items: center;	
		.day {
			font-size: $font-size-md;
			font-weight: 700;
		}
		.date{
			font-size: $font-size-xs;
			font-weight: 600;
			color: $color-weather-info;
		}
	}

	.weather-info {
		display: flex;
		width: 80%;
		align-items: center;
		justify-content: space-between;
		.icons {
			display: flex;
			gap: 6px;
			align-items: center;
			img {
				width: 35px;
				height: 35px;
				&.divide-line {
					width: 20px;
					height: 20px;
				}
			}

		}
		.temps {
			font-size: $font-size-md;
			font-weight: 700;
			display: flex;
			gap: 15px;
			width: 40%;
			justify-content: center;
			.day {
				color: $light-lowest-temp;
			}
			.night {
				color: $light-highest-temp;
			}
			p {
				width: 35px;
				text-align: center;
			}
		}
		.more-btn {
			cursor: pointer;
			img {
				width: 20px;
			}
		}
	}
}

.more-info {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;

	img {
		width: 30px;
		height: 30px;
	}
	.info-items {
		margin: 10px 5px;
		display: flex;
		width: 100px;
		align-items: center;
		text-align: center;
		justify-content: flex-start;

		p {
			display: flex;
			flex-direction: column;
			margin: 0 auto;
			font-size: $font-size-xs;
		}

	.items-title {
		font-weight: 600;
	}
	}
}

.clothes-info {
	h3 {
		font-size: $font-size-sm;
		font-weight: 600;
		margin: 5px 0;
		// text-align: center;
	}
	img {
		width: 100%;
		border-radius: 10px;
	}
}