.headerTitle{
  width: 36px;
  color: $color-black;
}
.searchBox{
  background-color: $color-search;
  width: 332px;
  height: 37px;
}

.backBtn{
  color: $light-mode-primary;
}

.btnheader{
  display: flex;
  height: 34px;
  .addBtn{
    background-color: $light-mode-primary;
    width: 89px;
    height: 34px;
    color: $color-white;
  }
}