@import './normalize.scss', './reset.scss';

$light-mode-primary: #384D9D;
$light-mode-background: #F2F7FA;

$dark-mode-primary: #283153;
$dark-mode-background: #0E0E24;

$color-error: #FF5B45;	
$color-title: #ACBCCE;
$color-black: #000000;
$color-white: #FFFFFF;

$sm-info: #B1B1B1;
$lg-info: #FFFFFF;

$font-size-xs: 10px;
$font-size-sm: 14px;
$font-size-md: 16px;
$font-size-lg: 20px;

$light-lowest-temp : #0000FF;
$light-highest-temp : #FFA500;

$dark-lowest-temp : #0077B6;
$dark-highest-temp : #FF5B45;

$navbar-height: 90px;