@import '../../styles/utils.scss';

.containerWrap{
  background-color: $light-mode-primary;
  border: none;
  border-radius: 10px;
  height: 15vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: $color-white;
  box-shadow: 0px 4px 4px 0px rgba(0,0,0,0.25);
  .leftSection{
    flex-basis: 60%;
    .location{
      font-size: 20px;
      font-weight: 600;
    }
    .time{
      color: $sm-info;
      font-size: 15px;
    }
    .weather{
      font-size: 16px;
      padding-top: 11px;
    }
  }
  .rightSection{
    display: flex;
    flex-direction: column;
    align-items: center;
    .fector{
      font-weight: 700;
      font-size: 40px;
    }
    .feelFector{
      font-size: 15px;
    }
  }
}