@import '../../styles/utils.scss';


.send-box {
	background-color: $color-search;
	position: fixed;
	bottom: 20vh;
	border-radius: 15px;
	width: 380px;
	height: 40px;
	display: flex;
	justify-content: space-between;
	padding: 10px;
	input {
		width: 80%;
	}
	button {
		text-align: center;
		font-size: $font-size-sm;
		font-weight: 600;
	}
	img {
		width: 20px;
	}
}