@import '../../styles/utils.scss';

.navbar-container {
	height: $navbar-height;
	background-color: $color-white;
	font-size: $font-size-sm;
	display: flex;
	justify-content: space-around;
	align-items: center;
	bottom: 0;
	position: fixed;
	padding: 10px;
	min-width: 480px;
	height: 12%;
	box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1); /* 약한 그림자 추가 */

	img {
		width: 30px;
		height: 30px;
	}

	p {
		display: flex;
		flex-direction: column;
		text-align: center;
		font-size: $font-size-xs;
		cursor: 'pointer';
	}
}